@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
header{
    font-family: 'Lato', sans-serif;
    position: absolute;
    top:0;
    left:0;
    right:0;
    z-index: 999;
    .container{
        .row.top{
            font-size: 15px;
            padding: 20px 0;
            .col-lg-6{
                .contact-ul{
                    display:flex;
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    li{
                        a{
                            color: #ffffff;
                            text-decoration: none;
                            cursor: auto !important;
                        }
                        &:first-child{
                            margin-right: 15px;
                        }
                        i{
                            margin-right: 3px;
                        }
                    }
                }
            }
            .col-lg-6{
                .social-ul{
                    display:flex;
                    justify-content: flex-end;
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    li{
                        display: inline-block;
                        margin-left: 6px;
                        a{
                            color: #007bff;
                            text-decoration: none;
                            background-color: transparent;
                            i{
                                height: 30px;
                                width: 30px;
                                background-color: #ffffff;
                                color: #396cf0;
                                border-radius: 50%;
                                display: inline-block;
                                text-align: center;
                                line-height: 32px;
                                transition: all .5s;
                                &:hover{
                                    background-color: #396cf0;
                                    color: #ffffff;
                                }
                            }
                        }
                    }
                }
            }
        }
        .row.bottom{
            background-color: #ffffff;
            padding: 20px 15px;
            .col-2.logo{
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }
            .col-7{
                display: flex;
                align-items: center;
                justify-content: center;
                ul.navigator{
                    display: flex;
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    & > li{
                        padding: 16px;
                        position: relative;
                        & > a{
                            text-decoration: none;
                            color: #333333;
                            font-weight: bold;
                            text-shadow: 0.5px -0.5px #333333;
                            transition: all 0.3s;
                            font-size: 14px;
                            position: relative;
                            &:hover{
                                color: #396cf0;
                            }
                            &:before{
                                content: "";
                                display: inline-block;
                                margin-left: .255em;
                                vertical-align: .255em;
                                border-top: .3em solid;
                                border-right: .3em solid transparent;
                                border-bottom: 0;
                                border-left: .3em solid transparent;
                                position: absolute;
                                right: -15px;
                                top: 50%;
                                transform: translateY(-50%);
                            }
                        }
                        &:hover .submenu{
                            transform: rotateX(0deg);
                        }
                    }
                    div.submenu{
                        background-color: #fff;
                        position: absolute;
                        left: 6px;
                        transform: rotateX(90deg);
                        transform-origin: top;
                        transition: .6s;
                        z-index: 99;
                        ul{
                            list-style: none;
                            margin:0;
                            padding:0;
                            .subli{
                                padding: 10px 10px 10px 10px;
                                border-bottom: 1px dashed #f5f5f5;
                                & > a{
                                    display: inline-block;
                                    color: #333333;
                                    text-decoration: none;
                                    width: 200px;
                                    transition: all 0.3s;
                                    &:hover{
                                        color: #007bff;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .col-3.appointment{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                a{
                    text-decoration: none;
                    background-color: #396cf0;
                    color: #ffffff;
                    display: inline-block;
                    font-weight: bold;
                    font-size: 13px;
                    padding: 16px 20px;
                    transition: all 0.3s;
                    &:hover{
                        background-color: #333333;
                        color: #ffffff;
                    }
                }
            }
            .col-2.offset-8{
                button{
                    text-decoration: none;
                    display: inline-block;
                    height: 40px;
                    width: 60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid #396cf0;
                    background-color: transparent;
                    i{
                        font-size: 20px;
                        color : #396cf0;
                    }
                }
            }
            .collabse-menu{
                display: none;
                height: 291px;
                overflow-y: scroll;
                font-size: 14px;
                ul{
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    li{
                        ul{
                            li:hover{
                                background-color: #f9faff;
                            }
                        }
                    }
                }
                .under-menu{
                    display: none;
                }
                a{
                    display: block;
                    padding: 10px;
                    text-decoration: none;
                    color: #333333;
                    transition: all 0.4s;
                    font-weight: bold;
                    &:hover{
                        color: #396cf0;
                    }
                    i{
                        padding-left: 4px;
                        margin-top: -2px;
                    }
                }
            }
        }
    }
}

main{
    section.carousel{
        position: relative;
        .slick-active{
            h1{
                animation-name: tomiddle;
                animation-duration: 1.5s;
                animation-fill-mode: forwards;
            }
        }
        .we-are-always{
            height: 750px;
            background-image: url("../image/1.jpg");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-blend-mode: darken;
            background-color: #00000067;
            position: relative;
            h1{
                position: absolute;
                left: 50%;
                transform: translate(-50%,-50%);
                color: #ffffff;
                text-align: center;
                font-weight: bold;
                font-size: 80px;
                margin: 0;
                width: 100%;
                opacity: 0;
            }
        }
        .best-care{
            height: 750px;
            background-image: url("../image/2.jpg");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-blend-mode: darken;
            background-color: #00000067;
            position: relative;
            h1{
                position: absolute;
                left: 50%;
                transform: translate(-50%,-50%);
                color: #ffffff;
                text-align: center;
                font-weight: bold;
                font-size: 80px;
                margin: 0;
                width: 100%;
                opacity: 0;

            }
        }
        .we-are-always3{
            height: 750px;
            background-image: url("../image/3.jpg");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-blend-mode: darken;
            background-color: #00000067;
            position: relative;
            h1{
                position: absolute;
                left: 50%;
                transform: translate(-50%,-50%);
                color: #ffffff;
                text-align: center;
                font-weight: bold;
                font-size: 80px;
                margin: 0;
                width: 100%;
                opacity: 0;
            }
        }
        #next{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 25px;
            background-color: transparent;
            height: 50px;
            width: 50px;
            color: #ffffffa2;
            border-radius: 50%;
            outline: none;
            &:hover{
                background-color: #007bff7e;
            }
        }
        #prev{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 25px;
            background-color: transparent;
            height: 50px;
            width: 50px;
            color: #ffffffa2;
            border-radius: 50%;
            outline: none;
            &:hover{
                background-color: #007bff7e;;
            }
        }
    }

    section.services{
        .container{
            .row.clip-doctor{
                padding: 30px 15px 0;

                .col-lg-4{
                    .card{
                        width: 100% !important;
                        transition: all 0.4s;
                        margin-bottom: 30px;
                        &:hover{
                            box-shadow: 7px 5px 30px rgba(72, 73, 121, 0.15);
                            background: #ffffff;
                            border-color: #ffffff;
                            transform: translateY(-10px);
                        }
                        .image-clip{
                            background-color: #396cf0;;
                            clip-path: polygon(50% 0%, 100% 0, 100% 88%, 50% 100%, 0 88%, 0 0);
                            img{
                            clip-path : polygon(50% 0%, 100% 0, 100% 86%, 50% 98%, 0 86%, 0 0);                            }
                        }
                        h5{
                            text-align: center;
                        }
                        p{
                            text-align: center;
                        }
                    }
                }
            }
            .row.experience{
                padding: 100px 0;
                .clip-experience{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        clip-path: polygon(3% 18%, 0 0, 20% 2%, 76% 2%, 100% 0, 97% 19%, 96% 80%, 100% 100%, 80% 96%, 18% 96%, 0 100%, 3% 82%);
                    }
                }
                .about-us{
                    padding-top: 20px;
                    a{
                        background-color: #396cf0;
                        color: #ffffff;
                        display: inline-block;
                        border: 1px solid #396cf0;
                        padding: 8px 30px;
                        font-weight: bold;
                        border-radius: 4px;
                        transition: all 0.4s;
                        &:hover{
                            text-decoration: none;
                            background-color: #333333;
                            border: 1px solid #333333;
                            color: #ffffff;
                        }
                    }
                }
            }
        }
    }
}
















@keyframes fadeInDown {
    0% {
       opacity: 0;
       transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 }

 @keyframes tomiddle {
    0% {
        opacity: 0;
        top: 80%;
    }
    100% {
        opacity: 1;
        top: 50%;
    }
 }



.active-sticky{
    position: fixed !important;
    left: 0;
    right:0;
    top:0;
    animation: 0.5s ease-in-out 0s normal none 1 running fadeInDown;
}












/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
   header{
       .container{
           .row.top{
               display: none;
               padding:0 !important;
           }
           .row.bottom{
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            padding: 20px 15px !important;
               .col-7{
                   display: none !important;
               }
               .col-3.appointment{
                   display: none !important;
               }
               #collabse-button{
                width: 40px !important;
            }
           }
       }
       .active-sticky{
           padding: 15px 20px !important;
       }
   }
   main{
      section.carousel{
        .carousel-main{
            margin-top:80px;
        }
        .responsize{
         height: 300px !important;
         h1{
             font-size: 24px !important;
         }
     }
     button{
         height: 30px !important;
         width: 30px !important;
     }
      }
    
   }
}
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    header{
        .container{
            .row.top{
                display: none;
                padding:0 !important;
            }
            .row.bottom{
                position: fixed;
                top:0;
                left:0;
                right:0;
                .col-7{
                    display: none !important;
                }
                .col-3.appointment{
                    display: none !important;
                }
            }
        }
    }
    main{
        section.carousel{
            .carousel-main{
                margin-top:80px;
            }
            .responsize{
                height: 300px !important;
                h1{
                    font-size: 34px !important;
                }
            }
            button{
                height: 34px !important;
                width: 34px !important;
            }
        }
    }
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    header{
        .container{
            .row.top{
                padding: 20px 0 !important;
                display: flex;
            }
            .row.bottom{
                position: static;
            }
        }
    }
    main{
      section.carousel{
        .carousel-main{
            margin-top:0;
        }
        .responsize{
            height: 750px !important;
            h1{
                font-size: 40px !important;
            }
        }
        button{
            height: 40px !important;
            width: 40px !important;
        }
      }

    }
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    header{
        .container{
            .row.bottom{
                .col-7{
                    display: flex !important;
                }
                .col-3.appointment{
                    display: flex !important;
                }
                .col-2.offset-8{
                    display: none;
                }
                .col-12.collabse-menu{
                    display: none !important;
                }
            }
        }
    }
    main{
        section.carousel{
            .responsize{
                h1{
                    font-size: 60px !important;
                }
            }
            button{
                height: 50px !important;
                width: 50px !important;
            }
        }
        section.services{
            position: relative;
            top: -140px;
            background-color: #ffffff;
        }
    }
  
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    main{
        section.carousel{
            .responsize{
                h1{
                    font-size: 80px !important;
                }
            }
            button{
                height: 60px !important;
                width: 60px !important;
            }
        }
        section.services{
            position: relative;
            top: -140px;
            background-color: transparent;
            .row.clip-doctor{
                border: 1px solid #eeeeee;
                background-color: #ffffff;
            }
        }
    }
  
  }

//   /* Extra Extra large devices (large desktops, 1600px and up) */
//   @media only screen and (min-width: 1600px) {
//     .active-sticky{
//         position: fixed;
//         left: 0;
//         right:0;
//         top:0;
//         padding: 20px 178px !important;
//         animation: 0.5s ease-in-out 0s normal none 1 running fadeInDown;
//         .navigator li{
//             margin: 0px 24px !important;
//         }
//     }
//   }